.tglmerah {
  color: red;
}

.react-datepicker__close-icon:after {
  background: transparent;
  color: #db2828;
  font-weight: bold;
  font-size: 14pt;
  border-radius: 0;
  width: 28px;
}

.react-datepicker__close-icon {
  top: -2px;
}
